.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.expanded {
  -webkit-line-clamp: unset;
  display: block;
}

.read-more-btn {
  background: transparent;
  border: none;
  text-align: left;
  color: #2b8ce2;
  cursor: pointer;
  padding: 0;
}
.read-more-btn:hover {
  text-decoration: underline;
}
