.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --heading: "Luckiest Guy", cursive;
  --font-family: "Open Sans", sans-serif;
  --border-radius: 24px;
}
body {
  font-family: var(--font-family);
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
  background-color: #f0f0f0;
}
h1 {
  font-family: var(--heading);
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #333;
}
